---
dag:
  - vim2hs
digitaltoad:
  - vim-jade
godlygeek:
  - tabular
groenewege:
  - vim-less
jiangmiao:
  - auto-pairs
#kchmck:
  #- vim-coffee-script
mattn:
  - emmet-vim
msanders:
  - snipmate.vim
nathanaelkane:
  - vim-indent-guides
pangloss:
  - vim-javascript
tpope:
  - vim-abolish
  - vim-cucumber
  - vim-endwise
  - vim-fugitive
  - vim-git
  - vim-haml
  - vim-markdown
  - vim-pathogen
  - vim-rails
  - vim-repeat
  - vim-sensible
  - vim-surround
  - vim-unimpaired
  - vim-vividchalk
scrooloose:
  - nerdtree
  - nerdcommenter
